<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('square') }}">玩具微博 ToyWeibo</a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-left">
        <a class="navbar-brand" href="{{ url_for('show_profile') }}"><p> 用户: {{ username }} </p></a>
          <div class="navbar-brand">{{ title }}</div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ ph_search }}" name="searching" required>
          </div>
          <button type="submit" class="btn btn-primary">搜索</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
</nav>