<div class="p-2" style="width: 100%;">
  <div class="container">
    <div class="panel-body" >
      <form role="form" class="row form-horizontal" style="width: 100%; float: none;display: block;margin-left: auto;margin-right: auto;" action="/addWeibo">
        <div class="row">
            <label for="weiboc" style="font-size: large;">分享新鲜事...（140字以内）</label>
            <textarea class="form-control" rows="3" name="content" id="weiboc" placeholder="可在微博开头使用#话题#"></textarea>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary">发布</button>
        </div>
      </form>
    </div>
  </div>
</div>