<div class="p-2" style="width: 100%;">
  <div class="container">
    <div class="panel-body" >
      <form method="post" class="row form-horizontal" style="width: 100%; float: none;display: block;margin-left: auto;margin-right: auto;" action='/add_post'>
        <div class="row">
          <input type="hidden" name="path" value="{{ request.path }}"/>
          <label for="weiboc" style="font-size: large;">分享新鲜事...（140字以内）</label>
          <textarea maxlength="140" class="form-control" rows="3" name="content" id="weiboc" placeholder="可在微博开头使用#话题#"></textarea>
        </div>
        <br/>
        <div class="row" style="text-align:right">
          <button type="submit" class="btn btn-primary" style="width: 100px;">发布</button>
        </div>
      </form>
    </div>
  </div>
</div>