{% for user in users %}
<hr/>
<div class="row">
  <div class="col-md-9 col-lg-9" style="height: 100px">
      <h4><strong>{{ user['name'] }}</strong></h4>
      <p style="color:darkgray; font-size: small">{{ user["gender"] }}，来自{{ user["location"] }}，于{{ user["created_at"] }}加入玩具微博。</p>
      <p style="font-size: large">微博：{{ user["statusesum"] }}&nbsp;&nbsp;&nbsp;&nbsp;粉丝：{{ user["followersum"] }}&nbsp;&nbsp;&nbsp;&nbsp;关注：{{ user["friendsum"] }}&nbsp;&nbsp;&nbsp;&nbsp;点赞：{{ infos["favouritesum"] }}</p>
  </div>
  <div class="col-md-3 col-lg-3" style="text-align: center">
      <br/>
      <br/>
      <button id="??"class="btn btn-info">取消关注</button>
  </div>
</div>
{% endfor %}