{% for user in users %}
<hr/>
<div class="row">
  <div class="col-md-1 col-lg-1" style="height: 100px">
    <img src="{{ url_for('static', filename='images/avatars/IMG' + user['img_idx'] + '.jpg') }}" width="80" height="80" style="margin-top:0.7em"/>
  </div>
  <div class="col-md-8 col-lg-8" style="height: 100px">
      <a href="{{ url_for('show_profile', userID=user['userID']) }}" style="color: black;"><h4><strong>{{ user['name'] }}</strong></h4></a>
      <p style="color:darkgray; font-size: small">{{ user["gender"] }}，来自{{ user["location"] }}，于{{ user["created_at"] }}加入玩具微博。</p>
      <p style="font-size: large">微博：{{ user["statusesum"] }}&nbsp;&nbsp;&nbsp;&nbsp;粉丝：{{ user["followersum"] }}&nbsp;&nbsp;&nbsp;&nbsp;关注：{{ user["friendsum"] }}</p>
  </div>
  <div class="col-md-3 col-lg-3" style="text-align: center">
      <br/>
      <br/>
      {% if not user['ismyself'] %}
        {% if user['following'] %}
        <form method='post' action='/unfollow'>
          <input type="hidden" name="path" value="{{ request.path }}"/>
          <button type="submit" class="btn btn-secondary" style="height:40px;width:100px" name="unfollow" value="{{ user['userID'] }}">取消关注</button>
        </form>
        {% else %}
        <form method='post' action='/follow'>
          <input type="hidden" name="path" value="{{ request.path }}"/>
          <button type="submit" class="btn btn-info" style="height:40px;width:100px" name="follow" value="{{ user['userID'] }}">关注</button>
        </form>
        {% endif %}
      {% endif %}
  </div>
</div>
{% endfor %}