{% for post in posts  %}
<hr/>
<div class="row">
  <div class="col-md-1 col-lg-1">
    <img src="{{ url_for('static', filename='images/avatars/IMG' + post.img_idx + '.jpg') }}" width="80" height="80" style="margin-top:0.7em"/>
  </div>
  <div class="col-md-11 col-lg-11">
    {% if post.forwardlist %}
    <p style="font-size: 1.3em;">
      {% for userpost in post.forwardlist %}
      <a href="{{ url_for('show_profile', userID=userpost[0]) }}" style="color: black;"><strong>{{ userpost[1] }}</strong></a>：<span style="color: blue">{{ userpost[2] }}</span>{{ userpost[3] }} //
      {% endfor %}
    </p>
    <p style="font-size: 1.2em; background-color: lightgrey; border-style: solid; border-width: 10px; border-color: lightgrey;">
      <a href="{{ url_for('show_profile', userID=post.userID) }}" style="color: black;"><strong>{{ post.username }}：</strong></a>
      <span style="color: blue">{{ post.topic }}</span>{{ post.text }}
    </p>
    {% else %}
    <a href="{{ url_for('show_profile', userID=post.userID) }}" style="color: black;"><h4><strong>{{ post.username }}</strong></h4></a>
    <br/>
    <p style="font-size: 1.2em"><span style="color: blue">{{ post.topic }}</span>{{ post.text }}</p>
    {% endif %}
    <div>
      <p class="text-left">{{ post.time }}</p>
      <div class="text-right">
        {% if post.myself %}
        <form action="/delete_post" method="post" class="btn text-right">
          <input type="hidden" name="postID" value="{{ post.postID }}" />
          <input type="hidden" name="path" value="{{ request.path }}" />
          <a href="#" onclick="this.parentNode.submit()" type='submit' style="color: darkred;"><img src="{{ url_for('static', filename='images/icons/shanchu.png') }}" height="15" width="15"/> &nbsp;删除</a>
        </form>
        {% endif %}
        {% if post.praised %}
        <form action="/delete_praise" method="post" class="btn text-right">
          <input type="hidden" name="postID" value="{{ post.postID }}" />
          <input type="hidden" name="path" value="{{ request.path }}" />
          <a href="#" onclick="this.parentNode.submit()" type='submit' style="color: darkred;"><img src="{{ url_for('static', filename='images/icons/dianzan.png') }}" height="15" width="15"/> &nbsp;取消赞 {{ post.attitudesum }}</a>
        </form>
        {% else %}
        <form action="/add_praise" method="post" class="btn text-right">
          <input type="hidden" name="postID" value="{{ post.postID }}" />
          <input type="hidden" name="path" value="{{ request.path }}" />
          <a href="#" onclick="this.parentNode.submit()" type='submit'><img src="{{ url_for('static', filename='images/icons/dianzan.png') }}" height="15" width="15"/> &nbsp;赞 {{ post.attitudesum }}</a>
        </form>
        {% endif %}

        <a class="btn text-right" type="button" data-toggle="collapse" data-target="#{{ post.postID }}" aria-expanded="false" aria-controls="multiCollapseExample2"><img src="{{ url_for('static', filename='images/icons/pinglun.png') }}" height="15" width="15"/> &nbsp;评论 {{ post.commentsum }}</a>
        
        <a type="button" data-toggle="modal" data-target="#forward" class="btn text-right" data-postid="{{ post.postID }}" data-content="{{ post.forwardshow+post.username+'：'+post.topic+' '+post.text }}"><img src="{{ url_for('static', filename='images/icons/fenxiang.png') }}" height="15" width="15"/> &nbsp;转发 {{ post.repostsum }}</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="{{ post.postID }}">
      {% for reply in post.replies %}
      <br/>
      <div class="row">
        <div class="col-md-1 col-lg-1">
          <img src="{{ url_for('static', filename='images/avatars/IMG' + reply.img_idx + '.jpg') }}" width="40" height="40" style="margin-top:0.15em; margin-left: 3em;"/>
        </div>
        <div class="col-md-10 col-lg-10">
          <p>
            <a href="{{ url_for('show_profile', userID=reply.userID) }}" style="color: black;"><strong>{{ reply.username }}</strong></a>：{{ reply.text }}<br/>{{ reply.time }}
          </p>
        </div>
        <div class="col-md-1 col-lg-1">
          {% if reply.myself %}
          <form action="/delete_reply" method="post" class="btn text-left">
            <input type="hidden" name="replyID" value="{{ reply.replyID }}" />
            <input type="hidden" name="path" value="{{ request.path }}" />
            <a href="#" onclick="this.parentNode.submit()" type='submit' style="color: darkred;"><img src="{{ url_for('static', filename='images/icons/shanchu.png') }}" height="15" width="15"/> &nbsp;删除</a>
          </form>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <br/>
      <div class="col-md-12 col-lg-12">
        <form method="post" action='/add_reply'>
          <div class="form-group">
            <!-- <label for="message-text" class="col-form-label">Message:</label> -->
            <textarea maxlength="140" class="form-control" id="message-text" placeholder="写评论..." name='reply_text'></textarea>
          </div>
          <input type="hidden" name="postid" value="{{ post.postID }}"/>
          <input type="hidden" name="path" value="{{ request.path }}"/>
          <div class="form-group" style="text-align: right;">
            <button type="submit" class="btn btn-primary" style="text-align: right;">评论！</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<div class="modal fade" id="forward" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-6 col-lg-6">
          <h4 class="modal-title" id="exampleModalLabel">转发</h4>
        </div>
        <div class="col-md-6 col-lg-6" style="text-align:center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <form method="post" action='/forward_post'>
          <div class="form-group">
            <!-- <label for="message-text" class="col-form-label">Message:</label> -->
            <textarea maxlength="140" class="form-control" id="message-text" placeholder="来说说分享心得..." name='forward_text'></textarea>
          </div>
          <div class="form-group">
            <!-- <label for="message-text" class="col-form-label">Message:</label> -->
            <textarea type="text" class="form-control" id="content" disabled></textarea>
          </div>
          <input type="hidden" name="postid" id="postid"/>
          <input type="hidden" name="path" value="{{ request.path }}"/>
          <div class="form-group" style="text-align: right;">
            <button type="submit" class="btn btn-primary" style="text-align: right;">转发！</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="text-align: right;">关闭</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
$('#forward').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var content = button.data('content') // Extract info from data-* attributes
  var postid = button.data('postid')
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('#content').val(content)
  modal.find('#postid').val(postid)
  // modal.find('.modal-title').text('New message to ' + recipient)
  // modal.find('.modal-body input').val(recipient)
})
</script>
